body {
    background-color: burlywood;
    text-align: center;
}

table {
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid black;
}

caption {
    text-align: center;
}